-repo_groups.each do |repo_array|
  .row
    .panel.small-12.columns
      %h3= repo_array[0]
      %ul.small-block-grid-5
        - repo_array[1].take(5).each do |consultant|
          %li
            %h4= consultant.full_name