-skill_group.sort.each do |skill_name, consultants|
  .row
    .small-12.columns
      .panel
        %h3= skill_name
        %ul.small-block-grid-5
          - consultants.take(5).each do |consultant|
            %li
              %h4= consultant.full_name