.row
  .small-12.columns
    %h1= @office.name
.row
  .small-12.columns
    %ul.tabs{"data-tab"=>""}
      %li.tab-title.active
        %a{:href => "#skills"} Skills
- @office.skill_groups.each do |skill_name, consultants|
  .row
    .panel.small-12.columns
      %h3= skill_name
      %ul.small-block-grid-5
        - consultants.take(5).each do |consultant|
          %li
            %h4= consultant.full_name
