.row
  .small-12.columns
    %h1= @office.name
.row
  .small-12.columns
    %ul.tabs{"data-tab"=>""}
      %li.tab-title.active
        %a{:href => "#panel-skill_tab"} Skills
      %li.tab-title
        %a{:href => "#panel-github_groups"} Github Repos

.row.tabs-content
  #panel-skill_tab.content.active
    .small-12.columns
      = render 'skill_tab', office: @office

  #panel-github_groups.content
    .small-12.columns
      = render 'github_groups', repo_groups: @office.git_repo_groups