= form_tag delete_sponsee_url(:sponsor_id => connection.mentor.employee_id, :sponsee_id => connection.mentee.employee_id), remote: true, method: :post do
  = submit_tag "Delete #{connection.mentee.full_name}", class: "submit_sponsee", :id => "delete_sponsee"