= render 'skills_to_teach', consultant: consultant
.small-8.columns
  %ul.matches
    - if mentees.empty?
      %h4 "Couldn't find any matches"
    -else
      - mentees.take(5).each do |connection|
        %li{:id => "consultant_" + connection.mentee.employee_id}
          .mentor
            = render 'connection', connection: connection, name: connection.mentee.full_name, employee_id: connection.mentee.employee_id
            = render 'consultants/add_sponsee', connection: connection
