- if consultant.has_skills_from_jigsaw?
  = render 'consultant_skills', consultant: consultant
  .small-8.columns
    %ul.matches
      - mentors.take(5).each do |connection|
        %li{:id => "consultant_" + connection.mentor.employee_id}
          .mentor
            = render 'connection', connection: connection, name: connection.mentor.full_name, employee_id: connection.mentor.employee_id
            = render 'consultants/add_sponsor', connection: connection
- else
  .small-4.columns &nbsp;
  .small-8.columns
    = image_tag 'jigsaw-300.jpg'
