.consultant-show
  .row
    .small-4.columns
      %h1 Profile Picture
    .small-8.columns
      %h2 #{@consultant.full_name}
      %h3 Office: #{@consultant.working_office}
  .row
    .small-8.columns
      Matches
    .small-4.columns
      %ul
        - @consultant.skills_to_learn.each do |skill|
          %li= skill
