.row
  .small-12.columns
    .main-page-logo
      =image_tag 'connections-header.png'
%br
.row.text-center
  .panel.small-12.text-left
    %h3 What is Connections?
    %p It's an app for ThoughtWorkers by ThoughtWorkers to pair those with common interests. We believe that this will aid in making the search for a coach or a mentor or just simply create relationships in a more informed process around skills and motivation for learning.
    %h3 Who maintains it?
    %ul.small-block-grid-6
      %li
        %a.th.radius{:href=>'consultants/15364'}
          =image_tag 'devs/pwen.jpg'
      %li
        %a.th.radius{:href=>'consultants/13001'}
          =image_tag 'devs/dhammer.jpg'
      %li
        %a.th.radius{:href=>'consultants/15230'}
          =image_tag 'devs/pocampo.jpg'
      %li
        %a.th.radius{:href=>'consultants/15360'}
          =image_tag 'devs/skrisch.jpg'
      %li
        %a.th.radius{:href=>'consultants/15545'}
          =image_tag 'devs/inorris.jpg'
    %h3 Want to help?
    %p
      Join us on
      %a{:href=>'https://my.thoughtworks.com/groups/connections'} MyThoughtWorks