@mixin profile-attributes($selector, $align: left) {
  $dd-width: 50%;
  $dt-width: 40%;
  $text-align: left;

  @if($align == right) {
    $dt-width: 50%;
    $dd-width: 40%;
    $text-align: right;
  }

  #{$selector} {
    text-align: $text-align;
    margin-top: 2em;

    dd, dt {
      display: inline-block;
    }
    dd {
      width: $dd-width;
      color: $light-brown;
    }
    dt {
      width: $dt-width;
      color: $dark-brown;
    }
  }
}
