!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag 'application.css'
  %body
    .row
      .small-6.columns
        .main-page-logo
          =image_tag 'connections-header.png'
    .connection-message
      %h2
        Hey,
        = @consultant.full_name
    -if @mentors.empty?
      We tried to connect you with some ThoughtWorkers we think you should meet, but your Jigsaw profile was empty! Go fill it out!
    -else
      We noticed you're motivated to learn and we think you should reach out to these ThoughtWorkers. They may be able to help you sharpen some skills.
      %br
      %ul
        -@mentors.each do |connection|
          %li
            %strong
              %a{ :href => "mailto:#{connection.mentor.email}?subject=Lets grab coffee!" }=connection.mentor.full_name
            %br
            =connection.teachable_skills.to_sentence
      -if !@mentees.empty?
        You're pretty smart yourself, these ThoughtWorkers could benefit from your knowledge!
        %br
        %ul
          -@mentees.each do |connection|
            %li
              %strong
                %a{ :href => "mailto:#{connection.mentee.email}?subject=Lets grab coffee!"}=connection.mentee.full_name
              %br
              =connection.mentor.skills_to_teach.to_sentence
