!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag 'application.css'
  %body
    .row
      .small-6.columns
        .main-page-logo
          =image_tag 'connections-header.png'
    .connection-message
      %h2
        Hey,
        = @consultant.full_name
        we found a few ThoughtWorkers you might be interested in meeting.
      %br
      These in particular could help you sharpen some skills you've wanted to learn
      %ul
        -@mentors.each do |connection|
          %li
            %strong
              %a{ :href => "mailto:#{connection.mentor.email}?subject=Would love to chat! Are you available for mentorship?" }= connection.mentor.full_name
            %br
            =connection.teachable_skills.to_sentence
      -if !@mentees.empty?
        %br
        You're pretty smart yourself, these ThoughtWorkers could benefit from your knowledge!
        %ul
          -@mentees.each do |connection|
            %li
              %strong
                %a{ :href => "mailto:#{connection.mentee.email}?subject=Would love to chat! Are you available for mentorship?" }= connection.mentee.full_name
              %br
              =connection.mentor.skills_to_teach.to_sentence
