@import "foundation_and_overrides";
@import 'modules/profile-attributes';

.second-consultant-profile, .first-consultant-profile {
  margin-top: 3em;

  h2 {
    color: $dark-brown;
  }
}

@include profile-attributes('.first-consultant-profile');
@include profile-attributes('.second-consultant-profile', $align: right);

.summary {
  margin-top: 3em;
}
