@import "foundation_and_overrides";
@import 'modules/profile-attributes';

.second-consultant-profile, .first-consultant-profile {
  h2 {
    color: $dark-brown;
  }
}

@include profile-attributes('.first-consultant-profile');
@include profile-attributes('.second-consultant-profile', $align: right);

.summary {
  margin-top: 2em;
  position: relative;
  overflow: hidden;
  .score {
    text-align: center;
    font-size: 1.5em;
  }
  .value {
    font-size: 2em;
  }
  .summary-text {
    margin-top: 1em;
  }

  .score-visual {
    margin-top: 1em;
    background-color: $dark-brown;
  }
  .score-bar {
    background-color: $orange;
    height: 56px;
  }
  img {
    position: absolute;
    width: 100%;
  }
}

.row.skill-diffs {
  margin-top: 4em;
  margin-bottom: 5em;
}
.skill-diff {
  margin-top: 1em;
  h5 {
    text-align: center;
    font-size: 16px;
    color: $dark-brown;
  }
}
