@import "foundation_and_overrides";
@import "modules/profile-attributes";

.search-box {
  margin: 3em 3em 0 3em;
}

.main-page-logo {
  margin: 5em 3em 0 3em;
}

.ui-state-focus {
  background: $blue !important;
  color: white !important;
}

.explore h2{
  color: $orange;
  margin-top:3em;
  margin-bottom:0.5em;
}

.offices {
  list-style: none;
  margin: 0;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    max-width: 100%;
    margin: 0.5em;
  }
  .label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: x-large;
  }
  a{
    color: white;
  }
}

.consultant-show {
  width: $row-width;
  margin: 3em auto;

  .label {
    background-color: #aaa;
    &.highlight {
      background-color: $blue;
    }
  }
  .header {
    img {
      max-width: 200px;
      max-height: 200px;
      margin: 0.5em 0 0.5em auto;
      display: block;
    }
  }
  h2 {
    margin-top: 0;
    color: $dark-brown;
  }
  @include profile-attributes('dl');
  dl {
    margin-bottom: 0;
  }

  .contact {

    .contact-entry {
      opacity: 0.4;
      float: left;
      margin-right: 0.4em;
      margin-top: 1em;

      img {
        max-width: 40px;
        max-height: 40px;
      }

      &.highlight {
        opacity: 1.0;
        .text {
          visibility: visible;
        }
      }

      .text {
        font-size: 75%;
        visibility: hidden;
        text-align: center;
      }

      .add-github-username {
        position: relative;
      }
      .github-image img{
        margin-left: 5px;
        margin-right: 5px;
      }
      .add-symbol {
        position: absolute;
        bottom: 52.5%;
        right: 42.5%;
      }

    }

  }
}

.add-username-form {
  visibility: hidden;

  #github_account {
    width: 70%;
    display: inline-block;
  }

  .submit_contact {
    float: right;
    width: 25%;
  }
}

.alert {
  color: $alert-color;
}

.skills {
  list-style: none;
  margin: 0;
  text-align: right;
  width: 80%;
  li {
    min-width: 45%;
    display: inline-block;
    max-width: 100%;
  }
  .label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.skills-header {
  text-align: right;
}

.submit_sponsee, .submit_sponsor, .submit_contact, .home-button {
  background-color: $blue;
  border: #ccc solid thin;
  margin: 0;
  padding: 0.5em 0.5em 0.5em;
  font-size: 1.1rem;
  color: #ffffff;
}

.delete_sponsee_form{
  display: inline-block;

  .submit_sponsee{
    margin-left: 4em;
    float: right;
  }
}

.add_sponsee_form, .add_sponsor_form{
  display: inline-block;

  .submit_sponsee, .submit_sponsor{
    margin-left: 1em;
    float: right;
  }
}

.matches, .sponsor-search {
  margin: 0;

  .mentor, .sponsor {
    .score {
      img {
        width: 16px;
      }
    }

    .name {
      margin-left: 0.5em;
      font-size: 1.3rem;
      display: inline-block;
    }
    .sponsor_search{
      width: 75%;
      display: inline-block;
      margin: 0;
    }
    #add_sponsor{
      margin-left: 1em;
    }
    img {
      max-width: 30px;
      max-height: 30px;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.5em;
    }
  }
}

.matches, .activity-details, .sponsor-search {
  list-style: none;

  > li {
    border: #ccc solid thin;
    margin: 1em 0;
    padding: 0.5em 0.7em 0.7em;
  }

  ul {
    list-style: none;
    margin: 0.2em 0 0 0;
    width: 75%;
    display: inline-block;
  }

  .score, .repo{
      display: inline-block;
      float: right;
  }
}

.matches, .skills, .activity_details {
  .label {
    font-size: 1.1rem;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
  }
}

.home-button {
  float: right;
  margin-top: 25px;
}
