@import "foundation_and_overrides";
@import "modules/profile-attributes";

.search-box {
  margin: 3em 3em 0 3em;
}

.main-page-logo {
  margin: 5em 3em 0 3em;
}

.ui-state-focus {
  background: $blue !important;
  color: white !important;
}

.consultant-show {
  width: $row-width;
  margin: 3em auto;

  .label {
    background-color: #aaa;
    &.highlight {
      background-color: $blue;
    }
  }
  .header {
    img {
      max-width: 200px;
      max-height: 200px;
      margin: 0.5em 0 0.5em auto;
      display: block;
    }
  }
  h2 {
    margin-top: 0;
    color: $dark-brown;
  }
  @include profile-attributes('dl');
  dl {
    margin-bottom: 0;
  }
}

.skills {
  list-style: none;
  margin: 0;
  text-align: right;
  li {
    min-width: 45%;
    display: inline-block;
    max-width: 100%;
  }
  .label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.skills-header {
  text-align: right;
}

.matches {

  .mentor {
    .score {
      img {
        width: 16px;
      }
    }
    .name {
      margin-left: 0.5em;
      font-size: 1.3rem;
      display: inline-block;
    }
    img {
      max-width: 30px;
      max-height: 30px;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.5em;
    }
  }
}

.matches, .activities {
  list-style: none;
  margin: 0;

    > li {
    border: #ccc solid thin;
    margin: 1em 0;
    padding: 0.5em 0.7em 0.7em;
  }

  ul {
    list-style: none;
    margin: 0.2em 0 0 0;
  }

  .score, .repo{
      display: inline-block;
      float: right;
  }
}

.activities {

  .name {
    color: #F4A460;
    margin-left: 0.5em;
    font-size: 1.3rem;
    display: inline-block;
  }

}

.matches, .skills, .activities {
  .label {
    font-size: 1.1rem;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
  }
}
