@import "foundation_and_overrides";
@import "modules/profile-attributes";

.search-box {
  margin: 3em 3em 0 3em;
}

.main-page-logo {
  margin: 5em 3em 0 3em;
}

.ui-state-focus {
  background: $blue !important;
  color: white !important;
}

.explore h2{
  color: $orange;
  margin-top:3em;
  margin-bottom:0.5em;
}

.offices {
  list-style: none;
  margin: 0;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    max-width: 100%;
    margin: 0.5em;
  }
  .label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: x-large;
  }
  a{
    color: white;
  }
}

.consultant-show {
  width: $row-width;
  margin: 3em auto;

  .label {
    background-color: #aaa;
    &.highlight {
      background-color: $blue;
    }
  }
  .header {
    img {
      max-width: 200px;
      max-height: 200px;
      margin: 0.5em 0 0.5em auto;
      display: block;
    }
  }
  h2 {
    margin-top: 0;
    color: $dark-brown;
  }
  @include profile-attributes('dl');
  dl {
    margin-bottom: 0;
  }

  .contact {

    .contact-entry {
      opacity: 0.4;
      img {
        max-width: 40px;
        max-height: 40px;
        float: left;
      }

      &.highlight {
        opacity: 1.0;
      }

      .text {
        font-size: 90%;
        display: none;
      }
    }

  }
}

.skills {
  list-style: none;
  margin: 0;
  text-align: right;
  width: 80%;
  li {
    min-width: 45%;
    display: inline-block;
    max-width: 100%;
  }
  .label {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.skills-header {
  text-align: right;
}

.submit_sponsee, .submit_sponsor{
  background-color: $blue;
  border: #ccc solid thin;
  margin: 0;
  padding: 0.5em 0.5em 0.5em;
  font-size: 1.1rem;
  color: #ffffff;
}

.delete_sponsee_form{
  display: inline-block;

  .submit_sponsee{
    margin-left: 4em;
    float: right;
  }
}

.add_sponsee_form, .add_sponsor_form{
  display: inline-block;

  .submit_sponsee, .submit_sponsor{
    margin-left: 1em;
    float: right;
  }
}

.matches, .sponsee-search {
  margin: 0;

  .mentor {
    .score {
      img {
        width: 16px;
      }
    }

    .name {
      margin-left: 0.5em;
      font-size: 1.3rem;
      display: inline-block;
    }
    .sponsee_search{
      width: 70%;
      display: inline-block;
      margin: 0;
    }
    img {
      max-width: 30px;
      max-height: 30px;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.5em;
    }
  }
}

.matches, .activity-details, .sponsee-search {
  list-style: none;

  > li {
    border: #ccc solid thin;
    margin: 1em 0;
    padding: 0.5em 0.7em 0.7em;
  }

  ul {
    list-style: none;
    margin: 0.2em 0 0 0;
    width: 75%;
    display: inline-block;
  }

  .score, .repo{
      display: inline-block;
      float: right;
  }
}

.activities{
  list-style: none;
  clear: both;

  .date{
      list-style: none;
      padding: 1em 0.7em 5em;
      text-align: right;
      border-right: 3px solid #333;
  }
  .dot {
    font-size: 95px;
    position: absolute;
    line-height: 0.2;
  }
  .activity-details-container {
    list-style: none;
    height: 100%;
    background-image: image-url('github-bg.png');
    background-size: cover;
    margin: 0.5em 0;
  }

  .activity-details {
    border: #ccc solid thin;
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, 0.8);

    img {
      width: 32px;
      margin-right: 0.5em;
    }

    .name {
      color: #F4A460;
      margin-left: 0.5em;
      font-size: 1.3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.matches, .skills, .activity_details {
  .label {
    font-size: 1.1rem;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
  }
}
