// Place all the styles related to the offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.github_group {
  list-style: none;

  background-image: image-url('github-bg.png');
  background-size: cover;
  margin: 0.5em 0;

  .github_detail {
    background-color: rgba(255, 255, 255, 0.8);
    border: #ccc solid thin;
    padding: 2em 1em;

    img {
      width: 25px;
      margin-right: 0.5em;
    }

    .repo_name{
      font-size: 1.6875rem;
    }
  }

}